---
import Layout from '~/layouts/LandingLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'aibebop | coming soon',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Intelligent. In Tune."
    subtitle="Embrace and harness AI to augment creativity, seamlessly integrating technology with art, music, and everyday experiences."
    actions={[
      {
        variant: 'primary',
        text: 'Sign Up for Updates',
        href: 'mailto:signup@aibebop.co',
        icon: 'tabler:square-rounded-arrow-right',
      },
      // { text: 'Learn more', href: '#' },
    ]}
    image={{
      src: '~/assets/images/ai_landscape_dall-e.jpg',
      alt: 'Harmonious AI future landscape.',
    }}
  >
    <Fragment slot="title">
      Jam with <span class="text-accent dark:text-white highlight"> AI</span> like a <span
        class="text-accent dark:text-white highlight">bebop</span
      > band!
    </Fragment>
  </Hero>

  <CallToAction
    title="Coming soon"
    subtitle="We are working on cutting-edge AI research and development to make technology that grows and innovates with us. Stay tuned."
    actions={[
      {
        variant: 'primary',
        text: 'Sign Up for Updates',
        href: 'mailto:signup@aibebop.co',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
  />
</Layout>
